In [1]:
import pandas as pd

In [2]:
def asint(x):
    try:
        return int(x)
    except:
        return 0

gt_file = '../data/out/SemD/13428_2012_278_MOESM1_ESM.csv'
gt = pd.read_csv(gt_file, keep_default_na=False).sort_values('term')
gt = gt.set_index('term')
gt.BNC_contexts = gt.BNC_contexts.map(asint).astype(int)
gt

         mean_cos  SemD  BNC_wordcount  BNC_contexts  BNC_freq  lg_BNC_freq
term
aa       0.020000  1.69            577           314       6.6         0.88
aah      0.085245  1.07             92            58       1.1         0.31
aback    0.025864  1.59            294           293       3.4         0.64
abacus   0.022685  1.64             51            40       0.6         0.20
abandon  0.008199  2.09           1257          1193      14.4         1.19
...           ...   ...            ...           ...       ...          ...
zoom     0.051591  1.29            241           161       2.8         0.58
zoomed   0.029300  1.53             64            59       0.7         0.24
zooming  0.023874  1.62             61            54       0.7         0.23
zoos     0.079977  1.10            144            87       1.7         0.42
zulu     0.166500  0.78            105            83       1.2         0.34

[31739 rows x 6 columns]

In [3]:
stats_file = '../data/out/cache/SemD/entropy_transform.csv'
stats = pd.read_csv(stats_file, sep='\t', keep_default_na=False).sort_values('token')
stats = stats.rename(columns={
    'token': 'term', 
    'context_freq': 'BNC_contexts',
    'corpus_freq': 'BNC_wordcount',
    'freq': 'BNC_freq',
    'log_freq': 'lg_BNC_freq',
})
stats = stats[stats.term.isin(gt.index)]
stats = stats.set_index('term')
stats = stats[[c for c in gt.columns if c in stats.columns]]
stats

         BNC_wordcount  BNC_contexts   BNC_freq  lg_BNC_freq
term
aa                 481           259   5.005948     0.778582
aah                219           124   2.279216     0.515770
aback              303           300   3.153435     0.618407
abacus              53            42   0.551591     0.190777
abandon           1294          1224  13.467146     1.160383
...                ...           ...        ...          ...
zoom               259           174   2.695511     0.567674
zoomed              66            61   0.686887     0.227086
zooming             69            62   0.718109     0.235051
zoos               116            68   1.207256     0.343853
zulu                89            72   0.926257     0.284714

[31335 rows x 4 columns]

In [4]:
semd_file = '../data/out/SemD/default/bnc_default.semd'
semd = pd.read_csv(semd_file, sep=',', keep_default_na=False, index_col=0)
semd.index.name = 'term'
semd = semd.rename(columns={'semd': 'SemD'})
semd = semd[semd.index.isin(gt.index)]
semd = semd.sort_index()
semd

         mean_cos      SemD
term
aa       0.594473  0.225868
aah      0.725614  0.139295
aback    0.722525  0.141147
abacus   0.654359  0.184184
abandon  0.609364  0.215123
...           ...       ...
zoom     0.605017  0.218232
zoomed   0.632578  0.198886
zooming  0.650754  0.186583
zoos     0.667931  0.175268
zulu     0.623144  0.205411

[31335 rows x 2 columns]

In [5]:
semd = semd.join(stats)

In [6]:
gt = gt[gt.index.isin(stats.index)]
gt

         mean_cos  SemD  BNC_wordcount  BNC_contexts  BNC_freq  lg_BNC_freq
term
aa       0.020000  1.69            577           314       6.6         0.88
aah      0.085245  1.07             92            58       1.1         0.31
aback    0.025864  1.59            294           293       3.4         0.64
abacus   0.022685  1.64             51            40       0.6         0.20
abandon  0.008199  2.09           1257          1193      14.4         1.19
...           ...   ...            ...           ...       ...          ...
zoom     0.051591  1.29            241           161       2.8         0.58
zoomed   0.029300  1.53             64            59       0.7         0.24
zooming  0.023874  1.62             61            54       0.7         0.23
zoos     0.079977  1.10            144            87       1.7         0.42
zulu     0.166500  0.78            105            83       1.2         0.34

[31335 rows x 6 columns]

In [7]:
x = pd.concat([gt.mean_cos, semd.mean_cos], axis=1)
x.columns = ['gt', 'new']
x

               gt       new
term
aa       0.020000  0.594473
aah      0.085245  0.725614
aback    0.025864  0.722525
abacus   0.022685  0.654359
abandon  0.008199  0.609364
...           ...       ...
zoom     0.051591  0.605017
zoomed   0.029300  0.632578
zooming  0.023874  0.650754
zoos     0.079977  0.667931
zulu     0.166500  0.623144

[31335 rows x 2 columns]

In [14]:
corr = semd.corrwith(gt, axis=0)
corr_file = '../data/out/SemD/default/bnc_correlation.csv'
corr.name = 'correlation'
corr.to_csv(corr_file, header=None, float_format='%.3f')
corr

mean_cos         0.436173
SemD             0.460770
BNC_wordcount    0.997916
BNC_contexts     0.996900
BNC_freq         0.997916
lg_BNC_freq      0.994125
Name: correlation, dtype: float64

In [15]:
semd_out_file = '../data/out/SemD/default/bnc_semd_beta.csv'
semd.to_csv(semd_out_file, float_format='%.3f')